calendar-day {
    background-color: gray;
}

.square {
    height: 10em;
    width: 10em;
    border: black;
    border-style: solid;
    // background-color: gray;
    margin: 0px;
}

.day-name
{
    float: bottom;
}