#calendar {
    border-style: inset;  
    border-width: thick;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#header-sun {
    padding-left: 50px;
}

#header-mon {
    padding-left: 55px;
}

#header-tue {
    padding-left: 55px;
}

#header-wed {
    padding-left: 55px;
}

#header-thu {
    padding-left: 25px;
}

#header-fri {
    padding-left: 25px;
}

#header-sat {
    padding-left: 60px;
}
